<% b = [0, 1, 2] %>
<% r = ['lazur', 'red', 'yellow', 'navy']  %>
<h1>Notes</h1>
<% @notes.each do |f| %>
<div class="col-md-4">
  <div class="row">
    <ul class="notes">
          <li>
            <div class="rotate-<%= b[1 + rand(2)] %> <%= r[1 + rand(3)] %>-bg">
              <h2><%= link_to f.title, note_path(f.id) %></h2>
              <p><%= f.body %></p>
              <p><%= link_to "edit", edit_note_path(f.id) %></p>
            </div>
          </li>
    </ul>
  </div>
</div>
    <% end %>
