<h1>Create Note</h1>
<%= form_for(@notes) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :body %>
  <%= f.text_field :body, class: 'form-control' %>

  <%= f.submit %>
  

  <% end %>
